
/* .balloons,
.balloons img{
  position: absolute;
  z-index: -3;
  margin: 0rem 0rem 0 0;
}
.container .balloons img:nth-child(1){
    width: 65px;
    margin: 0 3rem;
    animation: balloons 11s ease infinite;
}
.container .balloons img:nth-child(2) {
  width: 70px;
    margin: 0 9rem;
  animation: balloons 8s ease infinite;
}
.container .balloons img:nth-child(3) {
  width: 50px;
  animation: balloons 6s ease infinite;
}
.container .balloons img:nth-child(4) {
   width: 60px;
    margin: 0 15rem;
   animation: balloons 10s ease infinite;
    
}
.container .balloons img:nth-child(5) {
  width: 40px;
  
  animation: balloons 10s ease infinite;
    
} */


@keyframes hearts {
    0% {
        transform: scale(1) ;
    }
    30% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes balloons {
    0% {
        bottom: -30vh;
        transform: translateY(100vw) scale(0.5);
      
    }
    50% {
        bottom: 2vh ;
        transform: translateX(15vw) scale(1);
         
    }
    100% {
        bottom:20vh;
         transform: translateX(65vw) scale(0.5);

    }

}

.clouds {
  display: flex;
 z-index: -3;
 position: absolute;
}
.clouds img {
 position: absolute;
  max-width: 900px;
  opacity: 0.8;
  z-index: -1;
}
.clouds #cloud1{
  animation: moveClouds 90s linear infinite;
}
.clouds #cloud2 {
  animation: cloud2 150s linear infinite;
}
.clouds #cloud3 {
  animation: cloud3 160s linear infinite;
}
.clouds #cloud4 {
  animation: cloud4 160s linear infinite;
}
.clouds #cloud5 {
  animation: cloud5 160s linear infinite;
}
.clouds #cloud6 {
  animation: cloud6 220s linear infinite;
}
.tree {
position: absolute;
margin: 0 0 0rem 34rem;
z-index: -1;

}
.tree img {
width: 750px;
z-index: -5;
}
@keyframes fall {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(103vh);
  }
}
@keyframes moveClouds {
  from {
    transform: translateX(140%); 
  }
  to {
    transform: translateX(-100%); 
  }
}

@keyframes cloud2 {
  from {
    transform: translateX(140%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes cloud3 {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-90%);
  }
  
}
@keyframes cloud4 {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-90%);
  }
  
}
@keyframes cloud5 {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(-90%);
  }
  
}
@keyframes cloud6 {
  from {
    transform: translateX(300%);
  }
  to {
    transform: translateX(-90%);
  }
  
}