
.container .message-box h1:nth-child(1) {
 font-size: 250%;
 letter-spacing: 7px;
 line-height: 70px;
 z-index: 1;

}.container .message-box h1:nth-child(2) {
    font-size: 200%;
    letter-spacing: 1.5px;
    z-index: 1;
}
