.container .message-box h1 {
    font-size: 35px;
    letter-spacing: 3px;
    z-index: 1;
}
.container .message-box h1:nth-child(1) {
 font-size: 50px;
 letter-spacing: 7px;   
 line-height: 70px;
 z-index: 1;
}