.container h1 {
    letter-spacing: 7px;
    font-size: 60px;
    line-height: 100px;
}

.container h2 {
    letter-spacing: 5px;
    font-size: 40px;
    margin:  0 0 0 4rem;
}

.container .message {
    position: absolute;
    margin: 5% 0 0 15%;
}
