@media only screen and (max-width: 414px) {
   
  * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Great Vibes", cursive;
  }
 
  body {
    display: flex;
    background-image: url('images/xsmax-bg.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }
  .container {
     display: flex;
    overflow: hidden;
  }
    
    #pink-grass {
      margin: 45rem 0 0 0;
      width: 170%;
      height: 20%;
      z-index: -1;
    }
    #tree {
      z-index: -1;
      position: absolute;
      margin: 21rem 0rem 0 0;
      width: 414px;
      height: 450px;
    }
    .container .message {
      margin: 7rem 0 0 3rem;

    }
    .container .message h1 {
      font-size: 45px;
    }
    .container .message h2 {
      font-size: 35px;
      margin: 0 0 0 2rem;
    }
    .container .hearts-button {
    display: flex;
    margin: 47rem 0 0 3rem;
    gap: 100%;
  }
  .container .hearts-button img {
      width: 80px;
      height: 80px;
      display: flex;
      margin: 0 0 0 0;
      animation: hearts 2s ease infinite;
  }
  .hearts {
  overflow: hidden;
  width: 20px;
  height: 20px ;
  }

.clouds {
 z-index: -3;
 margin: 22rem 0rem 0 0;
}
.clouds img {
  position: absolute;
  display: flex;
 position: absolute;
  max-width: 700px;
  opacity: 0.8;
}
.clouds #cloud1{
  animation: moveClouds 30s linear infinite;
}
.clouds #cloud2 {
  animation: cloud2 70s linear infinite;
}
.clouds #cloud3 {
  animation: cloud3 80s linear infinite;
}
.clouds #cloud4 {
  animation: cloud4 90s linear infinite;
}
.clouds #cloud5 {
  animation: cloud5 90s linear infinite;
}
.clouds #cloud6 {
  animation: cloud6 100s linear infinite;
}
.clouds #cloud7 {
  animation: cloud7 100s linear infinite;
}
@keyframes moveClouds {
  from {
    transform: translateX(50%); 
  }
  to {
    transform: translateX(-70%); 
  }
}

@keyframes cloud2 {
  from {
    transform: translateX(40%);
  }
  to {
    transform: translateX(-70%);
  }
}

@keyframes cloud3 {
  from {
    transform: translateX(50%);
  }
  to {
    transform: translateX(-70%);
  }
  
}
@keyframes cloud4 {
  from {
    transform: translateX(50%);
  }
  to {
    transform: translateX(-70%);
  }
  
}
@keyframes cloud5 {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-70%);
  }
  
}
@keyframes cloud6 {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(-70%);
  }
  
}
@keyframes cloud7 {
  from {
    transform: translateX(10%);
  }
  to {
    transform: translateX(-90%);
  }
  
}

}


