@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Great Vibes', cursive;
}
body {
 overflow: hidden;
 resize: none;
 display: flex;
 justify-content: center;
 align-items: center;
}

.container {
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-width: 412px;
    max-height: 915px;
    min-width: 412px;
    min-height: 915px;
}
.container .message-box {
    text-align: center;
    margin-top: 20% ;    
}
.container .choices {
    display: flex;
    margin: 45vh 0 0 0;
    gap: 27vh;
}
.container .choices .full-heart img {
    width: 50px;
   
    
    
    animation: full-heart 2s ease infinite;
}

.container .choices .broken-heart img {
    width: 50px;
 
   
    animation: full-heart 3s ease infinite;
}
.container .sakura-tree,
.container .sakura-tree img{
   
    width: 393px;
    height: 569;
    z-index: -2;
    right: 0;
    /* margin: 13vh 0 0 0; */
}
.container .sakura-tree img:nth-child(2) {
    /* z-index: -1; */
   
    width: 375px;
    height: 138px;
    margin: 0rem  0rem 0rem 0 ;
    border: 1px solid black;
}
.container .clouds img{
    z-index: -1;
    position: absolute;
    width: 400px;
}
.balloons {
    margin: 10rem 0rem 0 0;

}
.container .sakura-tree .balloons img:nth-child(1){
    z-index: -2;
    width: 150px;
    height: 150px;
    margin: 15rem 17rem 0 0;
    animation: balloons 9s ease infinite;
    
}
.container .sakura-tree .balloons img:nth-child(2) {
    z-index: -2;
    width: 100px;
    height: 100px;
    margin: 20rem 12rem 30rem 0 ;
    animation: balloons 9s ease infinite;
    
}
.container .sakura-tree .balloons img:nth-child(3) {
    z-index: -2;
    width: 100px;
    height: 100px;
    margin: 10rem -4rem 0rem 0 ;
    animation: balloons 10s ease infinite;
    
}
.container .sakura-tree .balloons img:nth-child(4) {
    z-index: -2;
    width: 100px;
    height: 100px;
    margin: 10rem 2rem 0rem 0 ;
    animation: balloons 11s ease infinite;
    
}
.container .sakura-tree .balloons img:nth-child(5) {
    z-index: -2;
    width: 200px;
    height: 200px;
    margin: 10rem 8rem 0rem 0 ;
    animation: balloons 10s ease infinite;
    
}

@keyframes full-heart {
    0% {
        transform: scale(1) ;
    }
    30% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}
@keyframes broken-heart {
    0% {
        transform: scale(1) ;
    }
    30% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes balloons {
    0% {
        bottom: -50vh;
        transform: translateX(-50vw) scale(0.5);
      
    }
    50% {
        bottom: 0.5vh ;
        transform: translateX(10vw) scale(1);
         
    }
    100% {
        bottom:25vh;
         transform: translateX(60vw) scale(0.5);

    }

}

